<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/axios.js}"></script>
    <script th:src="@{/js/utils_accounts.js}"></script>
    <script th:src="@{/js/main_accounts.js}"></script>
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/spinkit.css}">
    <link rel="stylesheet" th:href="@{/css/normalize.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="full-screen-overlay"></div>
<div class="account-buttons-bar">
    <button class="orders-info btn btn-primary">Get Orders Info</button>
    <button class="refresh-table btn btn-primary">Refresh table</button>
    <button class="create-order btn btn-primary">Create Order</button>
    <button class="back btn btn-primary">Back</button>
</div>

<div class="account-table">
    <div class="account-table-header">
        <div class="account-table-th account-id-column-name">Account ID</div>
        <div class="account-table-th account-amount-column-name">Account Amount</div>
        <div class="account-table-th account-action-buttons-column-name">Actions</div>
    </div>
    <div class="account-table-content"></div>
</div>


<div class="orders-table">
    <div class="orders-table-header">
        <div class="orders-table-th order-id-column-name">Order ID</div>
        <div class="orders-table-th order-status-column-name">Order Status</div>
        <div class="orders-table-th order-total-sum-column-name">Order Total Sum</div>
        <div class="orders-table-th order-actions-column-name">Actions</div>
    </div>
    <div class="orders-table-content"></div>
</div>

<template id="account-template-record">
    <div class="account-table-content-record">
        <div class="account-table-td account-id"></div>
        <div class="account-table-td account-amount"></div>
        <div class="account-table-td account-action-buttons">
            <button class="account-edit-btn btn btn-warning">
                <i class="fa fa-pencil-square-o"></i>
            </button>
            <button class="account-delete-btn btn btn-danger">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
    </div>
</template>

<template id="order-template-record">
    <div class="orders-table-content-record">
        <div class="orders-table-td order-id"></div>
        <div class="orders-table-td order-status"></div>
        <div class="orders-table-td order-total-sum"></div>
        <div class="orders-table-td order-action-buttons">
            <button class="order-info-btn btn btn-info">
                <i class="fa fa-info"></i>
            </button>
            <button class="order-delete-btn btn btn-danger">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
    </div>
</template>

<div class="edit-account-wrapper">
    <div class="edit-account-inner-wrapper">
        <div class="edit-account">
            <div class="edit-account-field">
                <input disabled class="edit-account-id">
            </div>
            <div class="edit-account-field">
                <input class="edit-account-amount">
            </div>
            <div class="edit-account-field edit-field-actions">
                <button class="edit-account-save-btn btn btn-warning">
                    <i class="fa fa-save"></i>
                </button>
                <button class="edit-account-cancel-btn btn btn-secondary">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
    </div>
</div>


<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="text">
        <p>Some text in the Modal..</p>
        </div>
    </div>

</div>
</body>
</html>
