<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/axios.js}"></script>
    <script th:src="@{/js/utils_add_account.js}"></script>
    <script th:src="@{/js/main_add_account.js}"></script>
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/spinkit.css}">
    <link rel="stylesheet" th:href="@{/css/normalize.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">

</head>
<body>
<template id="order-template-record">
    <div class="orders-table-content-record">
        <div class="orders-table-td user-id"></div>
        <div class="orders-table-td account-amount"></div>
        <button class="edit-account-save-btn btn btn-warning">
            <i class="fa fa-save"></i>
        </button>
        <button class="edit-account-cancel-btn btn btn-secondary">
            <i class="fa fa-times"></i>
        </button>
        </div>
    </div>
</template>
<div class="edit-account-wrapper">
    <div class="edit-account-inner-wrapper">
        <div class="edit-account">
            <div class="edit-account-field">
                <div class="record-th">User ID</div>
                <input disabled class="edit-user-id">
            </div>
            <div class="edit-account-field">
                <div class="record-th">Account Amount</div>
                <input class="edit-account-amount">
            </div>
            <div class="edit-account-field edit-field-actions">
                <button class="edit-account-save-btn btn btn-warning">
                    <i class="fa fa-save"></i>
                </button>
                <button class="edit-account-cancel-btn btn btn-secondary">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
