<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/axios.js}"></script>
    <script th:src="@{/js/utils.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/spinkit.css}">
    <link rel="stylesheet" th:href="@{/css/normalize.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">

</head>
<body>
<div class="full-screen-overlay"></div>
<div class="users-buttons-bar">
    <button class="create-user btn btn-primary">Create User</button>
    <button class="refresh-table btn btn-primary">Refresh table</button>
</div>
<div class="users-table">
    <div class="users-table-header">
        <div class="users-table-th user-first-name-column-name">First Name</div>
        <div class="users-table-th user-last-name-column-name">Last Name</div>
        <div class="users-table-th user-action-buttons-column-name">Actions</div>
    </div>
    <div class="users-table-content"></div>
</div>

<template id="template-record">
    <div class="users-table-content-record">
        <div class="users-table-td user-first-name"></div>
        <div class="users-table-td user-last-name"></div>
        <div class="users-table-td user-action-buttons">
            <button class="user-edit-btn btn btn-warning">
                <i class="fa fa-pencil-square-o"></i>
            </button>
            <button class="user-delete-btn btn btn-danger">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
    </div>
</template>

<div class="edit-user-wrapper">
    <div class="edit-user-inner-wrapper">
        <div class="edit-user">
            <div class="edit-user-field">
                <div class="record-th">First Name</div>
                <input class="edit-user-first-name">
            </div>
            <div class="edit-user-field">
                <div class="record-th">Last Name</div>
                <input class="edit-user-last-name">
            </div>
            <div class="edit-user-field">
                <div class="record-th">Account ID</div>
                <input disabled class="edit-user-account-id">
            </div>
            <div class="edit-user-field">
                <div class="record-th">Account Amount</div>
                <input disabled class="edit-user-account-amount">
            </div>
            <div class="edit-user-field edit-field-actions">
                <button class="edit-user-save-btn btn btn-warning">
                    <i class="fa fa-save"></i>
                </button>
                <button class="edit-user-cancel-btn btn btn-secondary">
                    <i class="fa fa-times"></i>
                </button>
                <button class="user-account-info-btn btn btn-info">
                    <i class="fa fa-info"></i>
                </button>
                <button class="edit-user-add-btn btn btn-warning">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="text">
            <p>Some text in the Modal..</p>
        </div>
    </div>

</div>
</body>
</html>
