<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/axios.js}"></script>
    <script th:src="@{/js/utils_ordercards.js}"></script>
    <script th:src="@{/js/main_ordercards.js}"></script>
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/spinkit.css}">
    <link rel="stylesheet" th:href="@{/css/normalize.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">

</head>
<body>
<div class="full-screen-overlay"></div>
<div class="ordercards-buttons-bar">
    <button class="create-ordercard btn btn-primary">Create Order Card</button>
    <button class="refresh-table btn btn-primary">Refresh table</button>
    <button class="back btn btn-primary">Back</button>
</div>
<div class="ordercards-table">
    <div class="ordercards-table-header">
        <div class="ordercards-table-th ordercard-id-column-name">Order card ID</div>
        <div class="ordercards-table-th ordercard-phone-column-name">Phone Model</div>
        <div class="ordercards-table-th ordercard-count-column-name">Count</div>
        <div class="ordercards-table-th ordercard-price-column-name">Price</div>
        <div class="ordercards-table-th ordercard-action-buttons-column-name">Actions</div>
    </div>
    <div class="ordercards-table-content"></div>
</div>

<template id="template-record">
    <div class="ordercards-table-content-record">
        <div class="ordercards-table-td ordercard-id"></div>
        <div class="ordercards-table-td ordercard-phone"></div>
        <div class="ordercards-table-td ordercard-count"></div>
        <div class="ordercards-table-td ordercard-price"></div>
        <div class="ordercards-table-td ordercard-action-buttons">
            <button class="ordercard-edit-btn btn btn-warning">
                <i class="fa fa-pencil-square-o"></i>
            </button>
            <button class="ordercard-delete-btn btn btn-danger">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
    </div>
</template>

<div class="edit-ordercard-wrapper">
    <div class="edit-ordercard-inner-wrapper">
        <div class="edit-ordercard">
            <div class="edit-ordercard-field">
                <div class="record-th">ID</div>
                <input disabled class="edit-record-id">
            </div>
            <div class="ordercards-edit-field edit-ordercard-phone" style="position: relative">
                <div class="record-th">Phone</div>
                <div class="edit-record-phone"></div>
                <div class="ordercard-phones-dropdown-wrapper">
                    <div class="ordercard-phones-dropdown"></div>
                </div>
            </div>
            <div class="edit-ordercard-field">
                <div class="record-th">Count</div>
                <input class="edit-record-count">
            </div>
            <div class="edit-ordercard-field">
                <div class="record-th">Price</div>
                <input disabled class="edit-record-price">
            </div>
            <div class="edit-ordercard-field edit-field-actions">
                <button class="edit-ordercard-save-btn btn btn-warning">
                    <i class="fa fa-save"></i>
                </button>
                <button class="edit-ordercard-cancel-btn btn btn-secondary">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="text">
            <p>Some text in the Modal..</p>
        </div>
    </div>

</div>
</body>
</html>
